<div *ngIf="this.raceModel">
  <h1>{{ this.raceModel.name }}</h1>
  <p>{{ this.raceModel.startInstant | fromNow }}</p>
  <a [routerLink]="['/races', raceModel.id, 'live']">Watch live!</a>
  <div *ngIf="this.betFailed" class="alert alert-danger">The race is already started or finished</div>
  <div class="row">
    <div *ngFor="let pony of this.raceModel.ponies" class="col-12 col-md-2" [class.selected]="isPonySelected(pony)">
      <pr-pony [ponyModel]="pony" (ponyClicked)="betOnPony($event)" ></pr-pony>
    </div>
  </div>
</div>
